steps:
- script: |
     echo "Starting the Deployment to $(SF_USER)"
     echo $(deploy_url) > env.sfdx
     sfdx force:auth:sfdxurl:store -d -a ${SF_USER} -f env.sfdx
     rm -rf env.sfdx
     sfdx force:source:deploy --sourcepath salesforce_sfdx --targetusername ${SF_USER} --verbose
     echo "Deploying the Vlocity components"
     vlocity -sfdx.username ${SF_USER} -job Deploy_Delta.yaml packUpdateSettings --verbose true --simpleLogging true
  displayName: 'Deployment Task'